{% extends 'store/main.html' %}
{% load static %}
{% block content %}


<div class="container">
<div class="row">
    <div class="col-lg-12">
        <div class="box-element">
            <a class="btn btn-outline-dark" href="{% url 'store' %}"> &#x2190; Continue Shopping </a>
        </div>
    </div>
    <hr>
    <br>

    <table class="table">
        <tr>
            <th><h5>Items: <strong>{{order.get_cart_items}}</strong></h5></th>
            <th><h5>Total: <strong>${{order.get_cart_total|floatformat:2}}</strong></h5></th>
            <th>
                <a style="float:right; margin 5px;" class="btn btn-success" href="{% url 'checkout'%}">Checkout</a>
            </th>

        </tr>

    </table>

    <div class="col-lg-12">
        <div class="box-element">

            <div class="cart-row">
                <div style="flex:2"></div>
                <div style="flex:1"></div>
                <div style="flex:2"><strong>Item</strong></div>
                <div style="flex:1"></div>
                <div style="flex:3"><strong>Description</strong></div>
                <div style="flex:1"></div>
                <div style="flex:1"><strong>Price</strong></div>
                <div style="flex:1"></div>
                <div style="flex:1"><strong>Quantity</strong></div>
                <div style="flex:1"></div>

                <div style="flex:1"><strong> Total</strong></div>
            </div>
            {% for item in items %}
            <div class="cart-row">
                <div style="flex:2"><img class="row-image" src="{{item.product.imageURL}}">
                </div>
                <div style="flex:1"></div>
                <div style="flex:2"><p>{{item.product.name}}</p></div>
                <div style="flex:1"></div>
                <div style="flex:3"><p>{{item.product.description}}</p></div>
                <div style="flex:1"></div>
                <div style="flex:1"><p>${{item.product.price|floatformat:2}}</p></div>
                <div style="flex:1"></div>
                <div style="flex:1">
                    <div class="col-4 col-sm-4 col-md-4">
                                <div class="quantity">
                                    <input type="button" value="+" class="plus">
                                    <input type="number" step="1" max="99" min="1" value="{{item.quantity}}" title="Qty" class="qty" size="4">
                                    <input type="button" value="-" class="minus">
                                </div>
                            </div>
                </div>
                <div style="flex:1"></div>
                <div style="flex:1">${{item.get_total|floatformat:2}}</div>
            </div>
            {% endfor %}
        </div>
    </div>

</div>
</div>

<!--
<div class="container">
   <div class="card shopping-cart">
            <div class="card-header bg-dark text-light">
                <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                 Your Shopping cart
                <a href="{% url 'store'%}" class="btn btn-outline-info btn-sm pull-right">&#x2190; Continue Shopping</a>
                <div class="clearfix"></div>
            </div>
            <div class="card-body">

                    <div class="row">
                        <div class="col-12 col-sm-12 col-md-2 text-center">
                                <img class="img-responsive" src="{% static  'images/products/mazowe.jpg' %}" alt="prewiew" width="120" height="120">
                        </div>
                        <div class="col-12 text-sm-center col-sm-12 text-md-left col-md-6">
                            <h4 class="product-name"><strong>Mazoe</strong></h4>
                            <h4>
                                <small> Orange Crush 2 liters</small>
                            </h4>
                        </div>
                        <div class="col-12 col-sm-12 text-sm-center col-md-4 text-md-right row">
                            <div class="col-3 col-sm-3 col-md-6 text-md-right" style="padding-top: 5px">
                                <h6><strong>5.00 <span class="text-muted">x</span></strong></h6>
                            </div>
                            <div class="col-4 col-sm-4 col-md-4">
                                <div class="quantity">
                                    <input type="button" value="+" class="plus">
                                    <input type="number" step="1" max="99" min="1" value="1" title="Qty" class="qty" size="4">
                                    <input type="button" value="-" class="minus">
                                </div>
                            </div>
                            <div class="col-2 col-sm-2 col-md-2 text-right">
                                <button type="button" class="btn btn-outline-danger btn-xs">
                                    <i class="fa fa-trash" aria-hidden="true"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <hr>

                    <div class="row">
                        <div class="col-12 col-sm-12 col-md-2 text-center">
                                <img class="img-responsive" src="{% static  'images/products/sugar2kg.jpg' %}" alt="prewiew" width="120" height="120">
                        </div>
                        <div class="col-12 text-sm-center col-sm-12 text-md-left col-md-6">
                            <h4 class="product-name"><strong>Sugar</strong></h4>
                            <h4>
                                <small>Huletts Brown Sugar 2kg</small>
                            </h4>
                        </div>
                        <div class="col-12 col-sm-12 text-sm-center col-md-4 text-md-right row">
                            <div class="col-3 col-sm-3 col-md-6 text-md-right" style="padding-top: 5px">
                                <h6><strong>5.00 <span class="text-muted">x</span></strong></h6>
                            </div>
                            <div class="col-4 col-sm-4 col-md-4">
                                <div class="quantity">
                                    <input type="button" value="+" class="plus">
                                    <input type="number" step="1" max="99" min="1" value="1" title="Qty" class="qty" size="4">
                                    <input type="button" value="-" class="minus">
                                </div>
                            </div>
                            <div class="col-2 col-sm-2 col-md-2 text-right">
                                <button type="button" class="btn btn-outline-danger btn-xs">
                                    <i class="fa fa-trash" aria-hidden="true"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <hr>

                <div class="pull-right">
                    <a href="" class="btn btn-outline-secondary pull-right">
                        Update shopping cart
                    </a>
                </div>
            </div>
            <div class="card-footer">
                <div class="pull-right" style="margin: 10px">
                    <a href="{% url 'checkout'%}" class="btn btn-lg btn-success pull-right">Checkout</a>
                    <div class="pull-right" style="margin: 15px">
                        Total price USD$: <b>10.00</b>
                    </div>
                </div>
            </div>
        </div>
</div>
 --->



{% endblock content %}